.square {
  width: 60px;
  height: 60px;
  display: inline-block;
}
.grid {
  max-width: 960px;
  height: 960;
  background-color:#E8E8E8;
  margin: 0 auto;
  line-height: 0;
}
.ink {
  background-color: #000;
}