.square {
  background-color: #E8E8E8;
  opacity: 1;
  display: inline-block;
  float: left;
}

#gridwrapper{
  width:100%;
}

#grid {
	margin: 0 auto;
  width: 600px;
  height: 400px;
  background-color:#E8E8E8;
}
